<h1>My Approach:</h1>

<p>Built two models: One for classification in order to predict the result and a regression model to predict the goal difference.</p>

<p>email: mdtycho@gmail.com for any further questions.</p>

In [1]:
import pandas as pd

import numpy as np

import matplotlib.pyplot as plt

import seaborn as sns

%matplotlib inline

In [2]:
#pd.set_option("display.max_rows",101)

pd.set_option("display.max_columns",26)

In [3]:
international_results = pd.read_csv('./international-football-results-from-1872-to-2017/results.csv')

squads_path = "./squads/teams/"

wc_18 = pd.read_csv('./fifa-worldcup-2018-dataset/World Cup 2018 Dataset.csv')

players = pd.read_csv('./fifa-18-player-dataset/CompleteDataset.csv')

rankings = pd.read_csv('./fifa-international-soccer-mens-ranking-1993now/fifa_ranking.csv')

C:\ProgramData\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2728: DtypeWarning: Columns (23,35) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [4]:
international_results.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 39008 entries, 0 to 39007
Data columns (total 9 columns):
date          39008 non-null object
home_team     39008 non-null object
away_team     39008 non-null object
home_score    39008 non-null int64
away_score    39008 non-null int64
tournament    39008 non-null object
city          39008 non-null object
country       39008 non-null object
neutral       39008 non-null bool
dtypes: bool(1), int64(2), object(6)
memory usage: 2.4+ MB

In [5]:
wc_18.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 33 entries, 0 to 32
Data columns (total 20 columns):
Team                                    32 non-null object
Group                                   32 non-null object
Previous
appearances                   32 non-null float64
Previous
titles                        32 non-null float64
Previous
 finals                        32 non-null float64
Previous
 semifinals                    32 non-null float64
Current
FIFA rank                      32 non-null float64
First match
against                    32 non-null object
Match index                             32 non-null float64
history with
first opponent
 W-L       20 non-null float64
history with
 first opponent
 goals     20 non-null float64
Second match
 against                   32 non-null object
Match index.1                           32 non-null float64
history with
 second opponent
 W-L      22 non-null float64
history with
 second opponent
 goals    22 non-null float64
Third match
 against                    32 non-null object
Match index.2                           32 non-null float64
history with
 third opponent
 W-L       28 non-null float64
history with
 third opponent
 goals     28 non-null float64
Unnamed: 19                             0 non-null float64
dtypes: float64(15), object(5)
memory usage: 5.2+ KB

In [6]:
players.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17981 entries, 0 to 17980
Data columns (total 75 columns):
Unnamed: 0             17981 non-null int64
Name                   17981 non-null object
Age                    17981 non-null int64
Photo                  17981 non-null object
Nationality            17981 non-null object
Flag                   17981 non-null object
Overall                17981 non-null int64
Potential              17981 non-null int64
Club                   17733 non-null object
Club Logo              17981 non-null object
Value                  17981 non-null object
Wage                   17981 non-null object
Special                17981 non-null int64
Acceleration           17981 non-null object
Aggression             17981 non-null object
Agility                17981 non-null object
Balance                17981 non-null object
Ball control           17981 non-null object
Composure              17981 non-null object
Crossing               17981 non-null object
Curve                  17981 non-null object
Dribbling              17981 non-null object
Finishing              17981 non-null object
Free kick accuracy     17981 non-null object
GK diving              17981 non-null object
GK handling            17981 non-null object
GK kicking             17981 non-null object
GK positioning         17981 non-null object
GK reflexes            17981 non-null object
Heading accuracy       17981 non-null object
Interceptions          17981 non-null object
Jumping                17981 non-null object
Long passing           17981 non-null object
Long shots             17981 non-null object
Marking                17981 non-null object
Penalties              17981 non-null object
Positioning            17981 non-null object
Reactions              17981 non-null object
Short passing          17981 non-null object
Shot power             17981 non-null object
Sliding tackle         17981 non-null object
Sprint speed           17981 non-null object
Stamina                17981 non-null object
Standing tackle        17981 non-null object
Strength               17981 non-null object
Vision                 17981 non-null object
Volleys                17981 non-null object
CAM                    15952 non-null float64
CB                     15952 non-null float64
CDM                    15952 non-null float64
CF                     15952 non-null float64
CM                     15952 non-null float64
ID                     17981 non-null int64
LAM                    15952 non-null float64
LB                     15952 non-null float64
LCB                    15952 non-null float64
LCM                    15952 non-null float64
LDM                    15952 non-null float64
LF                     15952 non-null float64
LM                     15952 non-null float64
LS                     15952 non-null float64
LW                     15952 non-null float64
LWB                    15952 non-null float64
Preferred Positions    17981 non-null object
RAM                    15952 non-null float64
RB                     15952 non-null float64
RCB                    15952 non-null float64
RCM                    15952 non-null float64
RDM                    15952 non-null float64
RF                     15952 non-null float64
RM                     15952 non-null float64
RS                     15952 non-null float64
RW                     15952 non-null float64
RWB                    15952 non-null float64
ST                     15952 non-null float64
dtypes: float64(26), int64(6), object(43)
memory usage: 10.3+ MB

In [7]:
rankings.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 57793 entries, 0 to 57792
Data columns (total 16 columns):
rank                       57793 non-null int64
country_full               57793 non-null object
country_abrv               57793 non-null object
total_points               57793 non-null float64
previous_points            57793 non-null int64
rank_change                57793 non-null int64
cur_year_avg               57793 non-null float64
cur_year_avg_weighted      57793 non-null float64
last_year_avg              57793 non-null float64
last_year_avg_weighted     57793 non-null float64
two_year_ago_avg           57793 non-null float64
two_year_ago_weighted      57793 non-null float64
three_year_ago_avg         57793 non-null float64
three_year_ago_weighted    57793 non-null float64
confederation              57793 non-null object
rank_date                  57793 non-null object
dtypes: float64(9), int64(3), object(4)
memory usage: 7.1+ MB

In [8]:
np.unique(international_results['tournament'])

array(['ABCS Tournament', 'AFC Asian Cup', 'AFC Asian Cup qualification',
       'AFC Challenge Cup', 'AFC Challenge Cup qualification',
       'AFF Championship', 'African Cup of Nations',
       'African Cup of Nations qualification',
       'African Nations Championship', 'Amílcar Cabral Cup',
       'Atlantic Cup', 'Balkan Cup', 'Baltic Cup',
       'Brazil Independence Cup', 'British Championship',
       'CCCF Championship', 'CECAFA Cup', 'CFU Caribbean Cup',
       'CFU Caribbean Cup qualification', 'CONCACAF Championship',
       'CONCACAF Championship qualification', 'COSAFA Cup',
       'Confederations Cup', 'Copa América', 'Copa Artigas',
       "Copa Bernardo O'Higgins", 'Copa Carlos Dittborn',
       'Copa Chevallier Boutell', 'Copa Félix Bogado',
       'Copa Juan Pinto Durán', 'Copa Lipton', 'Copa Newton',
       'Copa Oswaldo Cruz', 'Copa Paz del Chaco',
       'Copa Premio Honor Argentino', 'Copa Premio Honor Uruguayo',
       'Copa Ramón Castilla', 'Copa Rio Branco', 'Copa Roca',
       'Copa del Pacífico', 'Cyprus International Tournament',
       'Dragon Cup', 'Dunhill Cup', 'Dynasty Cup', 'EAFF Championship',
       'FIFA World Cup', 'FIFA World Cup qualification', 'Friendly',
       'GaNEFo', 'Gold Cup', 'Gold Cup qualification', 'Gulf Cup',
       'Indonesia Tournament', 'International Cup',
       'Jordan International Tournament', 'King Hassan II Tournament',
       "King's Cup", 'Kirin Cup', 'Korea Cup', 'Lunar New Year Cup',
       'Malta International Tournament', 'Merdeka Tournament',
       'Merlion Cup', 'Millennium Cup', 'Mundialito', 'NAFU Championship',
       'Nations Cup', 'Nehru Cup', 'Nile Basin Tournament',
       'Nordic Championship', 'OSN Cup', 'Oceania Nations Cup',
       'Oceania Nations Cup qualification', 'Pan American Championship',
       "Prime Minister's Cup", 'Rous Cup', 'SAFF Cup',
       'SKN Football Festival', 'Simba Tournament', 'South Pacific Games',
       'Tournoi de France', 'UAFA Cup', 'UAFA Cup qualification',
       'UDEAC Cup', 'UEFA Euro', 'UEFA Euro qualification', 'UNCAF Cup',
       'UNIFFAC Cup', 'USA Cup',
       'United Arab Emirates Friendship Tournament', 'VFF Cup',
       'Vietnam Independence Cup', 'WAFF Championship',
       'West African Cup', 'Windward Islands Tournament'], dtype=object)

In [9]:
tournament_names = ['AFC Asian Cup', 'AFC Asian Cup qualification',
                    'African Cup of Nations', 'African Cup of Nations qualification',
                    'Copa América', 
                    'CONCACAF Championship', 'CONCACAF Championship qualification',
                    'Oceania Nations Cup', 'Oceania Nations Cup qualification',
                    'UEFA Euro', 'UEFA Euro qualification'
                    'FIFA World Cup', 'FIFA World Cup qualification', 'Confederations Cup'
                    
                   ]

In [10]:
international_results.head()

,date,home_team,away_team,home_score,away_score,tournament,city,country,neutral
0,1872-11-30,Scotland,England,0,0,Friendly,Glasgow,Scotland,False
1,1873-03-08,England,Scotland,4,2,Friendly,London,England,False
2,1874-03-07,Scotland,England,2,1,Friendly,Glasgow,Scotland,False
3,1875-03-06,England,Scotland,2,2,Friendly,London,England,False
4,1876-03-04,Scotland,England,3,0,Friendly,Glasgow,Scotland,False

In [11]:
# get only the matches played under the chosen tournaments

competitive = international_results.loc[international_results['tournament'].isin(tournament_names), :]

In [12]:
competitive.head()

,date,home_team,away_team,home_score,away_score,tournament,city,country,neutral
420,1916-07-02,Chile,Uruguay,0,4,Copa América,Buenos Aires,Argentina,True
422,1916-07-06,Argentina,Chile,6,1,Copa América,Buenos Aires,Argentina,False
423,1916-07-08,Brazil,Chile,1,1,Copa América,Buenos Aires,Argentina,True
424,1916-07-10,Argentina,Brazil,1,1,Copa América,Buenos Aires,Argentina,False
426,1916-07-12,Brazil,Uruguay,1,2,Copa América,Buenos Aires,Argentina,True

In [13]:
competitive.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 11793 entries, 420 to 38918
Data columns (total 9 columns):
date          11793 non-null object
home_team     11793 non-null object
away_team     11793 non-null object
home_score    11793 non-null int64
away_score    11793 non-null int64
tournament    11793 non-null object
city          11793 non-null object
country       11793 non-null object
neutral       11793 non-null bool
dtypes: bool(1), int64(2), object(6)
memory usage: 840.7+ KB

In [14]:
competitive.describe()

         home_score    away_score
count  11793.000000  11793.000000
mean       1.784109      1.070635
std        1.819686      1.330360
min        0.000000      0.000000
25%        1.000000      0.000000
50%        1.000000      1.000000
75%        2.000000      2.000000
max       31.000000     17.000000

<h2>Let Us Add Rankings To Our Competitive Matches Data Set</h2>

In [15]:
rankings.head()

,rank,country_full,country_abrv,total_points,previous_points,rank_change,cur_year_avg,cur_year_avg_weighted,last_year_avg,last_year_avg_weighted,two_year_ago_avg,two_year_ago_weighted,three_year_ago_avg,three_year_ago_weighted,confederation,rank_date
0,1,Germany,GER,0.0,57,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,UEFA,1993-08-08
1,2,Italy,ITA,0.0,57,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,UEFA,1993-08-08
2,3,Switzerland,SUI,0.0,50,9,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,UEFA,1993-08-08
3,4,Sweden,SWE,0.0,55,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,UEFA,1993-08-08
4,5,Argentina,ARG,0.0,51,5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,CONMEBOL,1993-08-08

In [16]:
competitive.head()

,date,home_team,away_team,home_score,away_score,tournament,city,country,neutral
420,1916-07-02,Chile,Uruguay,0,4,Copa América,Buenos Aires,Argentina,True
422,1916-07-06,Argentina,Chile,6,1,Copa América,Buenos Aires,Argentina,False
423,1916-07-08,Brazil,Chile,1,1,Copa América,Buenos Aires,Argentina,True
424,1916-07-10,Argentina,Brazil,1,1,Copa América,Buenos Aires,Argentina,False
426,1916-07-12,Brazil,Uruguay,1,2,Copa América,Buenos Aires,Argentina,True

In [17]:
print(rankings.shape)

print()

print(competitive.shape)

(57793, 16)

(11793, 9)

In [18]:
rankings.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 57793 entries, 0 to 57792
Data columns (total 16 columns):
rank                       57793 non-null int64
country_full               57793 non-null object
country_abrv               57793 non-null object
total_points               57793 non-null float64
previous_points            57793 non-null int64
rank_change                57793 non-null int64
cur_year_avg               57793 non-null float64
cur_year_avg_weighted      57793 non-null float64
last_year_avg              57793 non-null float64
last_year_avg_weighted     57793 non-null float64
two_year_ago_avg           57793 non-null float64
two_year_ago_weighted      57793 non-null float64
three_year_ago_avg         57793 non-null float64
three_year_ago_weighted    57793 non-null float64
confederation              57793 non-null object
rank_date                  57793 non-null object
dtypes: float64(9), int64(3), object(4)
memory usage: 7.1+ MB

In [19]:
rankings['rank_date'] = rankings['rank_date'].astype('datetime64[ns]')

competitive['date'] = competitive['date'].astype('datetime64[ns]')

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [20]:
rankings.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 57793 entries, 0 to 57792
Data columns (total 16 columns):
rank                       57793 non-null int64
country_full               57793 non-null object
country_abrv               57793 non-null object
total_points               57793 non-null float64
previous_points            57793 non-null int64
rank_change                57793 non-null int64
cur_year_avg               57793 non-null float64
cur_year_avg_weighted      57793 non-null float64
last_year_avg              57793 non-null float64
last_year_avg_weighted     57793 non-null float64
two_year_ago_avg           57793 non-null float64
two_year_ago_weighted      57793 non-null float64
three_year_ago_avg         57793 non-null float64
three_year_ago_weighted    57793 non-null float64
confederation              57793 non-null object
rank_date                  57793 non-null datetime64[ns]
dtypes: datetime64[ns](1), float64(9), int64(3), object(3)
memory usage: 7.1+ MB

In [21]:
competitive.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 11793 entries, 420 to 38918
Data columns (total 9 columns):
date          11793 non-null datetime64[ns]
home_team     11793 non-null object
away_team     11793 non-null object
home_score    11793 non-null int64
away_score    11793 non-null int64
tournament    11793 non-null object
city          11793 non-null object
country       11793 non-null object
neutral       11793 non-null bool
dtypes: bool(1), datetime64[ns](1), int64(2), object(5)
memory usage: 840.7+ KB

In [22]:
rankings['year'] = rankings['rank_date'].dt.year

In [23]:
competitive.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 11793 entries, 420 to 38918
Data columns (total 9 columns):
date          11793 non-null datetime64[ns]
home_team     11793 non-null object
away_team     11793 non-null object
home_score    11793 non-null int64
away_score    11793 non-null int64
tournament    11793 non-null object
city          11793 non-null object
country       11793 non-null object
neutral       11793 non-null bool
dtypes: bool(1), datetime64[ns](1), int64(2), object(5)
memory usage: 840.7+ KB

In [24]:
competitive.reset_index(inplace = True)

In [25]:
competitive.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11793 entries, 0 to 11792
Data columns (total 10 columns):
index         11793 non-null int64
date          11793 non-null datetime64[ns]
home_team     11793 non-null object
away_team     11793 non-null object
home_score    11793 non-null int64
away_score    11793 non-null int64
tournament    11793 non-null object
city          11793 non-null object
country       11793 non-null object
neutral       11793 non-null bool
dtypes: bool(1), datetime64[ns](1), int64(3), object(5)
memory usage: 840.8+ KB

In [26]:
competitive.head()

,index,date,home_team,away_team,home_score,away_score,tournament,city,country,neutral
0,420,1916-07-02,Chile,Uruguay,0,4,Copa América,Buenos Aires,Argentina,True
1,422,1916-07-06,Argentina,Chile,6,1,Copa América,Buenos Aires,Argentina,False
2,423,1916-07-08,Brazil,Chile,1,1,Copa América,Buenos Aires,Argentina,True
3,424,1916-07-10,Argentina,Brazil,1,1,Copa América,Buenos Aires,Argentina,False
4,426,1916-07-12,Brazil,Uruguay,1,2,Copa América,Buenos Aires,Argentina,True

In [27]:
rankings.head()

,rank,country_full,country_abrv,total_points,previous_points,rank_change,cur_year_avg,cur_year_avg_weighted,last_year_avg,last_year_avg_weighted,two_year_ago_avg,two_year_ago_weighted,three_year_ago_avg,three_year_ago_weighted,confederation,rank_date,year
0,1,Germany,GER,0.0,57,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,UEFA,1993-08-08,1993
1,2,Italy,ITA,0.0,57,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,UEFA,1993-08-08,1993
2,3,Switzerland,SUI,0.0,50,9,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,UEFA,1993-08-08,1993
3,4,Sweden,SWE,0.0,55,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,UEFA,1993-08-08,1993
4,5,Argentina,ARG,0.0,51,5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,CONMEBOL,1993-08-08,1993

In [28]:
competitive['year'] = competitive['date'].dt.year

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [29]:
competitive.head()

,index,date,home_team,away_team,home_score,away_score,tournament,city,country,neutral,year
0,420,1916-07-02,Chile,Uruguay,0,4,Copa América,Buenos Aires,Argentina,True,1916
1,422,1916-07-06,Argentina,Chile,6,1,Copa América,Buenos Aires,Argentina,False,1916
2,423,1916-07-08,Brazil,Chile,1,1,Copa América,Buenos Aires,Argentina,True,1916
3,424,1916-07-10,Argentina,Brazil,1,1,Copa América,Buenos Aires,Argentina,False,1916
4,426,1916-07-12,Brazil,Uruguay,1,2,Copa América,Buenos Aires,Argentina,True,1916

In [30]:
competitive.merge(rankings, how = 'inner', left_on = ['year', 'home_team'], right_on = ['year', 'country_full'], suffixes = ('_l', '_r')).head(20)

,index,date,home_team,away_team,home_score,away_score,tournament,city,country,neutral,year,rank,country_full,...,total_points,previous_points,rank_change,cur_year_avg,cur_year_avg_weighted,last_year_avg,last_year_avg_weighted,two_year_ago_avg,two_year_ago_weighted,three_year_ago_avg,three_year_ago_weighted,confederation,rank_date
0,17258,1993-01-09,Sierra Leone,Togo,0,0,African Cup of Nations qualification,Conakry,Guinea,True,1993,86,Sierra Leone,...,0.0,16,-7,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,CAF,1993-08-08
1,17258,1993-01-09,Sierra Leone,Togo,0,0,African Cup of Nations qualification,Conakry,Guinea,True,1993,79,Sierra Leone,...,0.0,18,7,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,CAF,1993-09-23
2,17258,1993-01-09,Sierra Leone,Togo,0,0,African Cup of Nations qualification,Conakry,Guinea,True,1993,83,Sierra Leone,...,0.0,21,-4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,CAF,1993-10-22
3,17258,1993-01-09,Sierra Leone,Togo,0,0,African Cup of Nations qualification,Conakry,Guinea,True,1993,84,Sierra Leone,...,0.0,20,-1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,CAF,1993-11-19
4,17258,1993-01-09,Sierra Leone,Togo,0,0,African Cup of Nations qualification,Conakry,Guinea,True,1993,76,Sierra Leone,...,0.0,19,8,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,CAF,1993-12-23
5,17482,1993-04-24,Sierra Leone,Guinea-Bissau,2,0,African Cup of Nations qualification,Freetown,Sierra Leone,False,1993,86,Sierra Leone,...,0.0,16,-7,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,CAF,1993-08-08
6,17482,1993-04-24,Sierra Leone,Guinea-Bissau,2,0,African Cup of Nations qualification,Freetown,Sierra Leone,False,1993,79,Sierra Leone,...,0.0,18,7,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,CAF,1993-09-23
7,17482,1993-04-24,Sierra Leone,Guinea-Bissau,2,0,African Cup of Nations qualification,Freetown,Sierra Leone,False,1993,83,Sierra Leone,...,0.0,21,-4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,CAF,1993-10-22
8,17482,1993-04-24,Sierra Leone,Guinea-Bissau,2,0,African Cup of Nations qualification,Freetown,Sierra Leone,False,1993,84,Sierra Leone,...,0.0,20,-1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,CAF,1993-11-19
9,17482,1993-04-24,Sierra Leone,Guinea-Bissau,2,0,African Cup of Nations qualification,Freetown,Sierra Leone,False,1993,76,Sierra Leone,...,0.0,19,8,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,CAF,1993-12-23
10,17259,1993-01-10,Angola,Zimbabwe,1,1,FIFA World Cup qualification,Luanda,Angola,False,1993,93,Angola,...,0.0,10,9,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,CAF,1993-08-08
11,17259,1993-01-10,Angola,Zimbabwe,1,1,FIFA World Cup qualification,Luanda,Angola,False,1993,97,Angola,...,0.0,15,-4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,CAF,1993-09-23
12,17259,1993-01-10,Angola,Zimbabwe,1,1,FIFA World Cup qualification,Luanda,Angola,False,1993,97,Angola,...,0.0,14,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,CAF,1993-10-22
13,17259,1993-01-10,Angola,Zimbabwe,1,1,FIFA World Cup qualification,Luanda,Angola,False,1993,98,Angola,...,0.0,13,-1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,CAF,1993-11-19
14,17259,1993-01-10,Angola,Zimbabwe,1,1,FIFA World Cup qualification,Luanda,Angola,False,1993,102,Angola,...,0.0,13,-4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,CAF,1993-12-23
15,17275,1993-01-18,Angola,Egypt,0,0,FIFA World Cup qualification,Luanda,Angola,False,1993,93,Angola,...,0.0,10,9,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,CAF,1993-08-08
16,17275,1993-01-18,Angola,Egypt,0,0,FIFA World Cup qualification,Luanda,Angola,False,1993,97,Angola,...,0.0,15,-4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,CAF,1993-09-23
17,17275,1993-01-18,Angola,Egypt,0,0,FIFA World Cup qualification,Luanda,Angola,False,1993,97,Angola,...,0.0,14,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,CAF,1993-10-22
18,17275,1993-01-18,Angola,Egypt,0,0,FIFA World Cup qualification,Luanda,Angola,False,1993,98,Angola,...,0.0,13,-1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,CAF,1993-11-19
19,17275,1993-01-18,Angola,Egypt,0,0,FIFA World Cup qualification,Luanda,Angola,False,1993,102,Angola,...,0.0,13,-4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,CAF,1993-12-23

In [31]:
competitive.merge(rankings, how = 'inner', left_on = ['year', 'home_team'], right_on = ['year', 'country_full'], suffixes = ('_l', '_r')).shape

(83506, 27)

In [32]:
home_ranks = competitive.merge(rankings, how = 'inner', left_on = ['year', 'home_team'], right_on = ['year', 'country_full'], suffixes = ('_l', '_r'))

In [33]:
home_ranks = home_ranks[home_ranks['date'] >= home_ranks['rank_date']]

In [34]:
home_ranks.head(10)

,index,date,home_team,away_team,home_score,away_score,tournament,city,country,neutral,year,rank,country_full,...,total_points,previous_points,rank_change,cur_year_avg,cur_year_avg_weighted,last_year_avg,last_year_avg_weighted,two_year_ago_avg,two_year_ago_weighted,three_year_ago_avg,three_year_ago_weighted,confederation,rank_date
105,17898,1993-10-24,Burundi,Guinea,0,0,African Cup of Nations qualification,Libreville,Gabon,True,1993,96,Burundi,...,0.0,10,4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,CAF,1993-08-08
106,17898,1993-10-24,Burundi,Guinea,0,0,African Cup of Nations qualification,Libreville,Gabon,True,1993,98,Burundi,...,0.0,13,-2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,CAF,1993-09-23
107,17898,1993-10-24,Burundi,Guinea,0,0,African Cup of Nations qualification,Libreville,Gabon,True,1993,98,Burundi,...,0.0,13,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,CAF,1993-10-22
185,17932,1993-11-17,Malta,Scotland,0,2,FIFA World Cup qualification,Attard,Malta,False,1993,82,Malta,...,0.0,18,-9,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,UEFA,1993-08-08
186,17932,1993-11-17,Malta,Scotland,0,2,FIFA World Cup qualification,Attard,Malta,False,1993,85,Malta,...,0.0,19,-3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,UEFA,1993-09-23
187,17932,1993-11-17,Malta,Scotland,0,2,FIFA World Cup qualification,Attard,Malta,False,1993,84,Malta,...,0.0,19,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,UEFA,1993-10-22
210,17857,1993-09-26,Zambia,Senegal,4,0,FIFA World Cup qualification,Lusaka,Zambia,False,1993,25,Zambia,...,0.0,38,7,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,CAF,1993-08-08
211,17857,1993-09-26,Zambia,Senegal,4,0,FIFA World Cup qualification,Lusaka,Zambia,False,1993,27,Zambia,...,0.0,44,-2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,CAF,1993-09-23
225,17804,1993-08-15,Congo,Guinea,0,0,African Cup of Nations qualification,Pointe-Noire,Congo,False,1993,107,Congo,...,0.0,12,-17,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,CAF,1993-08-08
280,17869,1993-10-10,Morocco,Zambia,1,0,FIFA World Cup qualification,Casablanca,Morocco,False,1993,33,Morocco,...,0.0,32,8,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,CAF,1993-08-08

In [35]:
home_ranks.shape

(43135, 27)

In [36]:
home_ranks.loc[280, 'home_team']

'Morocco'

In [37]:
home_ranks = home_ranks.reset_index(drop = True)

In [38]:
home_ranks.index[[0]]

Int64Index([0], dtype='int64')

In [39]:
home_ranks.head(2)

,index,date,home_team,away_team,home_score,away_score,tournament,city,country,neutral,year,rank,country_full,...,total_points,previous_points,rank_change,cur_year_avg,cur_year_avg_weighted,last_year_avg,last_year_avg_weighted,two_year_ago_avg,two_year_ago_weighted,three_year_ago_avg,three_year_ago_weighted,confederation,rank_date
0,17898,1993-10-24,Burundi,Guinea,0,0,African Cup of Nations qualification,Libreville,Gabon,True,1993,96,Burundi,...,0.0,10,4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,CAF,1993-08-08
1,17898,1993-10-24,Burundi,Guinea,0,0,African Cup of Nations qualification,Libreville,Gabon,True,1993,98,Burundi,...,0.0,13,-2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,CAF,1993-09-23

In [40]:
# home_ranks = home_ranks.reset_index(drop = True)
# con = home_ranks.index[:-1]

# for i in con:
#     if i in home_ranks.index:
#         t = [home_ranks.loc[i,'date'], home_ranks.loc[i,'home_team'], home_ranks.loc[i,'away_team']]
#         t1 = [home_ranks.loc[i+1,'date'], home_ranks.loc[i+1,'home_team'], home_ranks.loc[i+1,'away_team']]
#         if t == t1 :
#             home_ranks.drop(home_ranks.index[[i]], inplace = True)

In [41]:
home_ranks.head()

,index,date,home_team,away_team,home_score,away_score,tournament,city,country,neutral,year,rank,country_full,...,total_points,previous_points,rank_change,cur_year_avg,cur_year_avg_weighted,last_year_avg,last_year_avg_weighted,two_year_ago_avg,two_year_ago_weighted,three_year_ago_avg,three_year_ago_weighted,confederation,rank_date
0,17898,1993-10-24,Burundi,Guinea,0,0,African Cup of Nations qualification,Libreville,Gabon,True,1993,96,Burundi,...,0.0,10,4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,CAF,1993-08-08
1,17898,1993-10-24,Burundi,Guinea,0,0,African Cup of Nations qualification,Libreville,Gabon,True,1993,98,Burundi,...,0.0,13,-2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,CAF,1993-09-23
2,17898,1993-10-24,Burundi,Guinea,0,0,African Cup of Nations qualification,Libreville,Gabon,True,1993,98,Burundi,...,0.0,13,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,CAF,1993-10-22
3,17932,1993-11-17,Malta,Scotland,0,2,FIFA World Cup qualification,Attard,Malta,False,1993,82,Malta,...,0.0,18,-9,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,UEFA,1993-08-08
4,17932,1993-11-17,Malta,Scotland,0,2,FIFA World Cup qualification,Attard,Malta,False,1993,85,Malta,...,0.0,19,-3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,UEFA,1993-09-23

In [42]:
home_ranks.drop_duplicates(['date', 'home_team', 'away_team'], keep = 'last', inplace = True)

In [43]:
home_ranks.head(20)

,index,date,home_team,away_team,home_score,away_score,tournament,city,country,neutral,year,rank,country_full,...,total_points,previous_points,rank_change,cur_year_avg,cur_year_avg_weighted,last_year_avg,last_year_avg_weighted,two_year_ago_avg,two_year_ago_weighted,three_year_ago_avg,three_year_ago_weighted,confederation,rank_date
2,17898,1993-10-24,Burundi,Guinea,0,0,African Cup of Nations qualification,Libreville,Gabon,True,1993,98,Burundi,...,0.0,13,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,CAF,1993-10-22
5,17932,1993-11-17,Malta,Scotland,0,2,FIFA World Cup qualification,Attard,Malta,False,1993,84,Malta,...,0.0,19,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,UEFA,1993-10-22
7,17857,1993-09-26,Zambia,Senegal,4,0,FIFA World Cup qualification,Lusaka,Zambia,False,1993,27,Zambia,...,0.0,44,-2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,CAF,1993-09-23
8,17804,1993-08-15,Congo,Guinea,0,0,African Cup of Nations qualification,Pointe-Noire,Congo,False,1993,107,Congo,...,0.0,12,-17,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,CAF,1993-08-08
10,17869,1993-10-10,Morocco,Zambia,1,0,FIFA World Cup qualification,Casablanca,Morocco,False,1993,32,Morocco,...,0.0,40,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,CAF,1993-09-23
12,17858,1993-09-26,Zimbabwe,Guinea,1,0,FIFA World Cup qualification,Harare,Zimbabwe,False,1993,47,Zimbabwe,...,0.0,33,3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,CAF,1993-09-23
13,17825,1993-09-08,Albania,Denmark,0,1,FIFA World Cup qualification,Tirana,Albania,False,1993,92,Albania,...,0.0,14,-6,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,UEFA,1993-08-08
14,17846,1993-09-22,Albania,Spain,1,5,FIFA World Cup qualification,Tirana,Albania,False,1993,92,Albania,...,0.0,14,-6,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,UEFA,1993-08-08
15,17827,1993-09-08,England,Poland,3,0,FIFA World Cup qualification,London,England,False,1993,11,England,...,0.0,55,-6,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,UEFA,1993-08-08
18,17930,1993-11-17,Greece,Russia,1,0,FIFA World Cup qualification,Athens,Greece,False,1993,36,Greece,...,0.0,39,-1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,UEFA,1993-10-22
21,17906,1993-10-27,Israel,Austria,1,1,FIFA World Cup qualification,Ramat-Gan,Israel,False,1993,66,Israel,...,0.0,25,5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,UEFA,1993-10-22
24,17920,1993-11-10,Israel,Finland,1,3,FIFA World Cup qualification,Ramat-Gan,Israel,False,1993,66,Israel,...,0.0,25,5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,UEFA,1993-10-22
25,17835,1993-09-08,Scotland,Switzerland,1,1,FIFA World Cup qualification,Aberdeen,Scotland,False,1993,30,Scotland,...,0.0,43,-7,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,UEFA,1993-08-08
27,17877,1993-10-13,Netherlands,England,2,0,FIFA World Cup qualification,Rotterdam,Netherlands,False,1993,13,Netherlands,...,0.0,49,3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,UEFA,1993-09-23
29,17879,1993-10-13,Portugal,Switzerland,1,0,FIFA World Cup qualification,Porto,Portugal,False,1993,21,Portugal,...,0.0,45,2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,UEFA,1993-09-23
32,17921,1993-11-10,Portugal,Estonia,3,0,FIFA World Cup qualification,Lisbon,Portugal,False,1993,20,Portugal,...,0.0,47,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,UEFA,1993-10-22
35,17936,1993-11-17,Spain,Denmark,1,0,FIFA World Cup qualification,Seville,Spain,False,1993,7,Spain,...,0.0,52,7,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,UEFA,1993-10-22
37,17867,1993-10-08,Algeria,Nigeria,1,1,FIFA World Cup qualification,Algiers,Algeria,False,1993,30,Algeria,...,0.0,39,4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,CAF,1993-09-23
39,17855,1993-09-25,Nigeria,Ivory Coast,4,1,FIFA World Cup qualification,Lagos,Nigeria,False,1993,18,Nigeria,...,0.0,49,-1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,CAF,1993-09-23
41,17868,1993-10-10,Cameroon,Zimbabwe,3,1,FIFA World Cup qualification,Yaoundé,Cameroon,False,1993,23,Cameroon,...,0.0,45,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,CAF,1993-09-23

In [44]:
home_ranks.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6923 entries, 2 to 43134
Data columns (total 27 columns):
index                      6923 non-null int64
date                       6923 non-null datetime64[ns]
home_team                  6923 non-null object
away_team                  6923 non-null object
home_score                 6923 non-null int64
away_score                 6923 non-null int64
tournament                 6923 non-null object
city                       6923 non-null object
country                    6923 non-null object
neutral                    6923 non-null bool
year                       6923 non-null int64
rank                       6923 non-null int64
country_full               6923 non-null object
country_abrv               6923 non-null object
total_points               6923 non-null float64
previous_points            6923 non-null int64
rank_change                6923 non-null int64
cur_year_avg               6923 non-null float64
cur_year_avg_weighted      6923 non-null float64
last_year_avg              6923 non-null float64
last_year_avg_weighted     6923 non-null float64
two_year_ago_avg           6923 non-null float64
two_year_ago_weighted      6923 non-null float64
three_year_ago_avg         6923 non-null float64
three_year_ago_weighted    6923 non-null float64
confederation              6923 non-null object
rank_date                  6923 non-null datetime64[ns]
dtypes: bool(1), datetime64[ns](2), float64(9), int64(7), object(8)
memory usage: 1.4+ MB

In [45]:
home_ranks.rename(columns = {'rank' : 'home_rank'}, inplace = True)

In [46]:
home_ranks.head()

,index,date,home_team,away_team,home_score,away_score,tournament,city,country,neutral,year,home_rank,country_full,...,total_points,previous_points,rank_change,cur_year_avg,cur_year_avg_weighted,last_year_avg,last_year_avg_weighted,two_year_ago_avg,two_year_ago_weighted,three_year_ago_avg,three_year_ago_weighted,confederation,rank_date
2,17898,1993-10-24,Burundi,Guinea,0,0,African Cup of Nations qualification,Libreville,Gabon,True,1993,98,Burundi,...,0.0,13,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,CAF,1993-10-22
5,17932,1993-11-17,Malta,Scotland,0,2,FIFA World Cup qualification,Attard,Malta,False,1993,84,Malta,...,0.0,19,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,UEFA,1993-10-22
7,17857,1993-09-26,Zambia,Senegal,4,0,FIFA World Cup qualification,Lusaka,Zambia,False,1993,27,Zambia,...,0.0,44,-2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,CAF,1993-09-23
8,17804,1993-08-15,Congo,Guinea,0,0,African Cup of Nations qualification,Pointe-Noire,Congo,False,1993,107,Congo,...,0.0,12,-17,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,CAF,1993-08-08
10,17869,1993-10-10,Morocco,Zambia,1,0,FIFA World Cup qualification,Casablanca,Morocco,False,1993,32,Morocco,...,0.0,40,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,CAF,1993-09-23

In [47]:
home_ranks.columns

Index(['index', 'date', 'home_team', 'away_team', 'home_score', 'away_score',
       'tournament', 'city', 'country', 'neutral', 'year', 'home_rank',
       'country_full', 'country_abrv', 'total_points', 'previous_points',
       'rank_change', 'cur_year_avg', 'cur_year_avg_weighted', 'last_year_avg',
       'last_year_avg_weighted', 'two_year_ago_avg', 'two_year_ago_weighted',
       'three_year_ago_avg', 'three_year_ago_weighted', 'confederation',
       'rank_date'],
      dtype='object')

In [48]:
home_ranks = home_ranks[['date', 'home_team', 'away_team', 'home_score', 'away_score', 'neutral', 'year',
                        'home_rank', 'country_full', 'rank_date']]

In [49]:
all_ranks = home_ranks.merge(rankings, how = 'inner', left_on = ['year', 'away_team'], right_on = ['year', 'country_full'], suffixes = ('_l', '_r'))

In [50]:
all_ranks.columns

Index(['date', 'home_team', 'away_team', 'home_score', 'away_score', 'neutral',
       'year', 'home_rank', 'country_full_l', 'rank_date_l', 'rank',
       'country_full_r', 'country_abrv', 'total_points', 'previous_points',
       'rank_change', 'cur_year_avg', 'cur_year_avg_weighted', 'last_year_avg',
       'last_year_avg_weighted', 'two_year_ago_avg', 'two_year_ago_weighted',
       'three_year_ago_avg', 'three_year_ago_weighted', 'confederation',
       'rank_date_r'],
      dtype='object')

In [51]:
all_ranks = all_ranks[all_ranks['date'] >= all_ranks['rank_date_r']]

In [52]:
all_ranks.head()

,date,home_team,away_team,home_score,away_score,neutral,year,home_rank,country_full_l,rank_date_l,rank,country_full_r,country_abrv,total_points,previous_points,rank_change,cur_year_avg,cur_year_avg_weighted,last_year_avg,last_year_avg_weighted,two_year_ago_avg,two_year_ago_weighted,three_year_ago_avg,three_year_ago_weighted,confederation,rank_date_r
0,1993-10-24,Burundi,Guinea,0,0,True,1993,98,Burundi,1993-10-22,65,Guinea,GUI,0.0,23,-2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,CAF,1993-08-08
1,1993-10-24,Burundi,Guinea,0,0,True,1993,98,Burundi,1993-10-22,60,Guinea,GUI,0.0,27,5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,CAF,1993-09-23
2,1993-10-24,Burundi,Guinea,0,0,True,1993,98,Burundi,1993-10-22,63,Guinea,GUI,0.0,30,-3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,CAF,1993-10-22
5,1993-08-15,Congo,Guinea,0,0,False,1993,107,Congo,1993-08-08,65,Guinea,GUI,0.0,23,-2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,CAF,1993-08-08
10,1993-09-26,Zimbabwe,Guinea,1,0,False,1993,47,Zimbabwe,1993-09-23,65,Guinea,GUI,0.0,23,-2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,CAF,1993-08-08

In [53]:
all_ranks.drop_duplicates(['date', 'home_team', 'away_team'], keep = 'last', inplace = True)

In [54]:
all_ranks.shape

(6412, 26)

In [55]:
all_ranks.head(10)

,date,home_team,away_team,home_score,away_score,neutral,year,home_rank,country_full_l,rank_date_l,rank,country_full_r,country_abrv,total_points,previous_points,rank_change,cur_year_avg,cur_year_avg_weighted,last_year_avg,last_year_avg_weighted,two_year_ago_avg,two_year_ago_weighted,three_year_ago_avg,three_year_ago_weighted,confederation,rank_date_r
2,1993-10-24,Burundi,Guinea,0,0,True,1993,98,Burundi,1993-10-22,63,Guinea,GUI,0.0,30,-3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,CAF,1993-10-22
5,1993-08-15,Congo,Guinea,0,0,False,1993,107,Congo,1993-08-08,65,Guinea,GUI,0.0,23,-2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,CAF,1993-08-08
11,1993-09-26,Zimbabwe,Guinea,1,0,False,1993,47,Zimbabwe,1993-09-23,60,Guinea,GUI,0.0,27,5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,CAF,1993-09-23
17,1993-11-17,Malta,Scotland,0,2,False,1993,84,Malta,1993-10-22,29,Scotland,SCO,0.0,43,-1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,UEFA,1993-10-22
21,1993-10-13,Italy,Scotland,3,1,False,1993,2,Italy,1993-09-23,28,Scotland,SCO,0.0,41,2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,UEFA,1993-09-23
26,1993-09-26,Zambia,Senegal,4,0,False,1993,27,Zambia,1993-09-23,57,Senegal,SEN,0.0,30,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,CAF,1993-09-23
31,1993-10-10,Morocco,Zambia,1,0,False,1993,32,Morocco,1993-09-23,27,Zambia,ZAM,0.0,44,-2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,CAF,1993-09-23
35,1993-09-08,Albania,Denmark,0,1,False,1993,92,Albania,1993-08-08,10,Denmark,DEN,0.0,51,-1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,UEFA,1993-08-08
42,1993-11-17,Spain,Denmark,1,0,False,1993,7,Spain,1993-10-22,5,Denmark,DEN,0.0,56,-1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,UEFA,1993-10-22
45,1993-09-22,Albania,Spain,1,5,False,1993,92,Albania,1993-08-08,13,Spain,ESP,0.0,49,2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,UEFA,1993-08-08

In [56]:
all_ranks.rename(columns = {'rank' : 'away_rank'}, inplace = True)

In [57]:
all_ranks.head()

,date,home_team,away_team,home_score,away_score,neutral,year,home_rank,country_full_l,rank_date_l,away_rank,country_full_r,country_abrv,total_points,previous_points,rank_change,cur_year_avg,cur_year_avg_weighted,last_year_avg,last_year_avg_weighted,two_year_ago_avg,two_year_ago_weighted,three_year_ago_avg,three_year_ago_weighted,confederation,rank_date_r
2,1993-10-24,Burundi,Guinea,0,0,True,1993,98,Burundi,1993-10-22,63,Guinea,GUI,0.0,30,-3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,CAF,1993-10-22
5,1993-08-15,Congo,Guinea,0,0,False,1993,107,Congo,1993-08-08,65,Guinea,GUI,0.0,23,-2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,CAF,1993-08-08
11,1993-09-26,Zimbabwe,Guinea,1,0,False,1993,47,Zimbabwe,1993-09-23,60,Guinea,GUI,0.0,27,5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,CAF,1993-09-23
17,1993-11-17,Malta,Scotland,0,2,False,1993,84,Malta,1993-10-22,29,Scotland,SCO,0.0,43,-1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,UEFA,1993-10-22
21,1993-10-13,Italy,Scotland,3,1,False,1993,2,Italy,1993-09-23,28,Scotland,SCO,0.0,41,2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,UEFA,1993-09-23

In [58]:
all_ranks = all_ranks[['date', 'home_team', 'away_team', 'home_score', 'away_score', 'neutral', 'year',
                        'home_rank', 'away_rank']]

In [59]:
all_ranks.head()

,date,home_team,away_team,home_score,away_score,neutral,year,home_rank,away_rank
2,1993-10-24,Burundi,Guinea,0,0,True,1993,98,63
5,1993-08-15,Congo,Guinea,0,0,False,1993,107,65
11,1993-09-26,Zimbabwe,Guinea,1,0,False,1993,47,60
17,1993-11-17,Malta,Scotland,0,2,False,1993,84,29
21,1993-10-13,Italy,Scotland,3,1,False,1993,2,28

In [60]:
all_ranks['goal_diff'] = all_ranks['home_score'] - all_ranks['away_score']

In [61]:
all_ranks['results'] = all_ranks['goal_diff'].apply(lambda x: (x/abs(x)) if x != 0 else 0)

In [62]:
all_ranks.head()

,date,home_team,away_team,home_score,away_score,neutral,year,home_rank,away_rank,goal_diff,results
2,1993-10-24,Burundi,Guinea,0,0,True,1993,98,63,0,0.0
5,1993-08-15,Congo,Guinea,0,0,False,1993,107,65,0,0.0
11,1993-09-26,Zimbabwe,Guinea,1,0,False,1993,47,60,1,1.0
17,1993-11-17,Malta,Scotland,0,2,False,1993,84,29,-2,-1.0
21,1993-10-13,Italy,Scotland,3,1,False,1993,2,28,2,1.0

In [63]:
X = all_ranks[['neutral', 'home_rank', 'away_rank']]

y_clf = all_ranks['results']

y_reg = all_ranks['goal_diff']

In [64]:
X['neutral'] = X['neutral'].astype(int)

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [65]:
X.head()

    neutral  home_rank  away_rank
2         1         98         63
5         0        107         65
11        0         47         60
17        0         84         29
21        0          2         28

In [66]:
from sklearn.model_selection import train_test_split

In [67]:
X_train1, X_test1, y_train1, y_test1 = train_test_split(X, y_clf, test_size=0.30)

X_train2, X_test2, y_train2, y_test2 = train_test_split(X, y_reg, test_size=0.30)

In [68]:
from sklearn.neural_network import MLPClassifier, MLPRegressor

In [69]:
from sklearn.preprocessing import StandardScaler

In [70]:
scaler = StandardScaler()

clf = MLPClassifier()

reg = MLPRegressor()

In [71]:
# use pipeline in future

clf.fit(X_train1, y_train1)

reg.fit(X_train2, y_train2)

MLPRegressor(activation='relu', alpha=0.0001, batch_size='auto', beta_1=0.9,
       beta_2=0.999, early_stopping=False, epsilon=1e-08,
       hidden_layer_sizes=(100,), learning_rate='constant',
       learning_rate_init=0.001, max_iter=200, momentum=0.9,
       nesterovs_momentum=True, power_t=0.5, random_state=None,
       shuffle=True, solver='adam', tol=0.0001, validation_fraction=0.1,
       verbose=False, warm_start=False)

In [72]:
p1 = clf.predict(X_test1)

p2 = reg.predict(X_test2)

In [73]:
from sklearn.metrics import f1_score, accuracy_score, mean_squared_error

In [74]:
print(f1_score(y_test1, p1, average = 'weighted'))
print(accuracy_score(y_test1, p1))

print(mean_squared_error(y_test2, p2))

0.5330278415918027
0.6029106029106029
3.780320091246088

In [75]:
t3 = pd.read_csv('mpiyakhe_dhlamini_4.csv')

In [76]:
t3.head()

,FixtureID,team1,team2,goalDiff,prob_team1,prob_team2,prob_draw
0,33,Uruguay,Russia,NaN,NaN,NaN,NaN
1,34,Saudi Arabia,Egypt,NaN,NaN,NaN,NaN
2,35,IR Iran,Portugal,NaN,NaN,NaN,NaN
3,36,Spain,Morocco,NaN,NaN,NaN,NaN
4,37,Denmark,France,NaN,NaN,NaN,NaN

In [77]:
wc_18.head()

,Team,Group,Previous appearances,Previous titles,Previous finals,Previous semifinals,Current FIFA rank,First match against,Match index,history with first opponent W-L,history with first opponent goals,Second match against,Match index.1,history with second opponent W-L,history with second opponent goals,Third match against,Match index.2,history with third opponent W-L,history with third opponent goals,Unnamed: 19
0,Russia,A,10.0,0.0,0.0,1.0,65.0,Saudi Arabia,1.0,-1.0,-2.0,Egypt,17.0,NaN,NaN,Uruguay,33.0,0.0,0.0,NaN
1,Saudi Arabia,A,4.0,0.0,0.0,0.0,63.0,Russia,1.0,1.0,2.0,Uruguay,18.0,1.0,1.0,Egypt,34.0,-5.0,-5.0,NaN
2,Egypt,A,2.0,0.0,0.0,0.0,31.0,Uruguay,2.0,-1.0,-2.0,Russia,17.0,NaN,NaN,Saudi Arabia,34.0,5.0,5.0,NaN
3,Uruguay,A,12.0,2.0,2.0,5.0,21.0,Egypt,2.0,1.0,2.0,Saudi Arabia,18.0,-1.0,-1.0,Russia,33.0,0.0,0.0,NaN
4,Porugal,B,6.0,0.0,0.0,2.0,3.0,Spain,3.0,-12.0,-31.0,Morocco,19.0,-1.0,-2.0,Iran,35.0,2.0,5.0,NaN

In [78]:
t3

,FixtureID,team1,team2,goalDiff,prob_team1,prob_team2,prob_draw
0,33,Uruguay,Russia,NaN,NaN,NaN,NaN
1,34,Saudi Arabia,Egypt,NaN,NaN,NaN,NaN
2,35,IR Iran,Portugal,NaN,NaN,NaN,NaN
3,36,Spain,Morocco,NaN,NaN,NaN,NaN
4,37,Denmark,France,NaN,NaN,NaN,NaN
5,38,Australia,Peru,NaN,NaN,NaN,NaN
6,39,Nigeria,Argentina,NaN,NaN,NaN,NaN
7,40,Iceland,Croatia,NaN,NaN,NaN,NaN

In [79]:
t3['neutral'] = np.ones((8,))

In [80]:
t3['home_rank'] = np.zeros((8,))

t3['away_rank'] = np.zeros((8,))

In [81]:
t3.head()

,FixtureID,team1,team2,goalDiff,prob_team1,prob_team2,prob_draw,neutral,home_rank,away_rank
0,33,Uruguay,Russia,NaN,NaN,NaN,NaN,1.0,0.0,0.0
1,34,Saudi Arabia,Egypt,NaN,NaN,NaN,NaN,1.0,0.0,0.0
2,35,IR Iran,Portugal,NaN,NaN,NaN,NaN,1.0,0.0,0.0
3,36,Spain,Morocco,NaN,NaN,NaN,NaN,1.0,0.0,0.0
4,37,Denmark,France,NaN,NaN,NaN,NaN,1.0,0.0,0.0

In [82]:
wc_18.columns

Index(['Team', 'Group', 'Previous \nappearances', 'Previous \ntitles',
       'Previous\n finals', 'Previous\n semifinals', 'Current \nFIFA rank',
       'First match \nagainst', 'Match index',
       'history with \nfirst opponent\n W-L',
       'history with\n first opponent\n goals', 'Second match\n against',
       'Match index.1', 'history with\n second opponent\n W-L',
       'history with\n second opponent\n goals', 'Third match\n against',
       'Match index.2', 'history with\n third opponent\n W-L',
       'history with\n third opponent\n goals', 'Unnamed: 19'],
      dtype='object')

In [83]:
t3['home_rank'] = t3.merge(wc_18[['Team','Current \nFIFA rank']], how = 'inner', left_on = ['team1'], right_on = ['Team'])['Current \nFIFA rank']

In [84]:
t3['away_rank'] = t3.merge(wc_18[['Team','Current \nFIFA rank']], how = 'inner', left_on = ['team2'], right_on = ['Team'])['Current \nFIFA rank']

In [85]:
t3

,FixtureID,team1,team2,goalDiff,prob_team1,prob_team2,prob_draw,neutral,home_rank,away_rank
0,33,Uruguay,Russia,NaN,NaN,NaN,NaN,1.0,21.0,65.0
1,34,Saudi Arabia,Egypt,NaN,NaN,NaN,NaN,1.0,63.0,31.0
2,35,IR Iran,Portugal,NaN,NaN,NaN,NaN,1.0,6.0,40.0
3,36,Spain,Morocco,NaN,NaN,NaN,NaN,1.0,12.0,9.0
4,37,Denmark,France,NaN,NaN,NaN,NaN,1.0,39.0,11.0
5,38,Australia,Peru,NaN,NaN,NaN,NaN,1.0,50.0,4.0
6,39,Nigeria,Argentina,NaN,NaN,NaN,NaN,1.0,22.0,17.0
7,40,Iceland,Croatia,NaN,NaN,NaN,NaN,1.0,NaN,NaN

In [86]:
wc_18

,Team,Group,Previous appearances,Previous titles,Previous finals,Previous semifinals,Current FIFA rank,First match against,Match index,history with first opponent W-L,history with first opponent goals,Second match against,Match index.1,history with second opponent W-L,history with second opponent goals,Third match against,Match index.2,history with third opponent W-L,history with third opponent goals,Unnamed: 19
0,Russia,A,10.0,0.0,0.0,1.0,65.0,Saudi Arabia,1.0,-1.0,-2.0,Egypt,17.0,NaN,NaN,Uruguay,33.0,0.0,0.0,NaN
1,Saudi Arabia,A,4.0,0.0,0.0,0.0,63.0,Russia,1.0,1.0,2.0,Uruguay,18.0,1.0,1.0,Egypt,34.0,-5.0,-5.0,NaN
2,Egypt,A,2.0,0.0,0.0,0.0,31.0,Uruguay,2.0,-1.0,-2.0,Russia,17.0,NaN,NaN,Saudi Arabia,34.0,5.0,5.0,NaN
3,Uruguay,A,12.0,2.0,2.0,5.0,21.0,Egypt,2.0,1.0,2.0,Saudi Arabia,18.0,-1.0,-1.0,Russia,33.0,0.0,0.0,NaN
4,Porugal,B,6.0,0.0,0.0,2.0,3.0,Spain,3.0,-12.0,-31.0,Morocco,19.0,-1.0,-2.0,Iran,35.0,2.0,5.0,NaN
5,Spain,B,14.0,1.0,1.0,2.0,6.0,Portugal,3.0,12.0,31.0,Iran,20.0,NaN,NaN,Morocco,36.0,5.0,7.0,NaN
6,Morocco,B,4.0,0.0,0.0,0.0,40.0,Iran,4.0,-2.0,-2.0,Portugal,19.0,1.0,2.0,Spain,36.0,-5.0,-7.0,NaN
7,IRAN,B,4.0,0.0,0.0,0.0,32.0,Morocco,4.0,2.0,2.0,Spain,20.0,NaN,NaN,Portugal,35.0,-2.0,-5.0,NaN
8,France,C,14.0,1.0,2.0,5.0,9.0,Australia,5.0,1.0,6.0,Peru,21.0,-1.0,-1.0,Denmark,37.0,4.0,9.0,NaN
9,Australia,C,4.0,0.0,0.0,0.0,39.0,France,5.0,-1.0,-6.0,Denmark,22.0,-1.0,-3.0,Peru,38.0,NaN,NaN,NaN
10,Peru,C,4.0,0.0,0.0,0.0,11.0,Denmark,6.0,NaN,NaN,France,21.0,1.0,1.0,Australia,38.0,NaN,NaN,NaN
11,Denmark,C,4.0,0.0,0.0,0.0,12.0,Peru,6.0,NaN,NaN,Australia,22.0,1.0,3.0,France,37.0,-4.0,-9.0,NaN
12,Argentina,D,16.0,2.0,5.0,5.0,4.0,Iceland,7.0,NaN,NaN,Croatia,23.0,1.0,0.0,Nigeria,39.0,3.0,1.0,NaN
13,Iceland,D,0.0,0.0,0.0,0.0,22.0,Argentina,7.0,NaN,NaN,Nigeria,24.0,1.0,3.0,Croatia,40.0,-3.0,-9.0,NaN
14,Croatia,D,4.0,0.0,0.0,1.0,17.0,Nigeria,8.0,NaN,NaN,Argentina,23.0,-1.0,0.0,Iceland,40.0,3.0,9.0,NaN
15,Nigeria,D,5.0,0.0,0.0,0.0,50.0,Croatia,8.0,NaN,NaN,Iceland,24.0,-1.0,-3.0,Argentina,39.0,-3.0,-1.0,NaN
16,Brazil,E,20.0,5.0,7.0,11.0,2.0,Switzerland,9.0,1.0,2.0,Costarica,25.0,8.0,19.0,Serbia,41.0,1.0,1.0,NaN
17,Switzerland,E,10.0,0.0,0.0,0.0,8.0,Brazil,9.0,-1.0,-2.0,Serbia,26.0,NaN,NaN,Costarica,42.0,0.0,1.0,NaN
18,Costarica,E,4.0,0.0,0.0,0.0,26.0,Serbia,10.0,NaN,NaN,Brazil,25.0,-8.0,-19.0,Switzerland,42.0,0.0,-1.0,NaN
19,Serbia,E,11.0,0.0,0.0,2.0,37.0,Costarica,10.0,NaN,NaN,Switzerland,26.0,NaN,NaN,Brazil,41.0,-1.0,-1.0,NaN
20,Germany,F,18.0,4.0,8.0,13.0,1.0,Mexico,11.0,4.0,13.0,Sweden,27.0,2.0,10.0,Korea,43.0,1.0,0.0,NaN
21,Mexico,F,15.0,0.0,0.0,0.0,16.0,Germany,11.0,-4.0,-13.0,Korea,28.0,1.0,12.0,Sweden,44.0,-2.0,-3.0,NaN
22,Sweden,F,11.0,0.0,1.0,4.0,18.0,Korea,12.0,1.0,2.0,Germany,27.0,-2.0,-10.0,Mexico,44.0,2.0,3.0,NaN
23,Korea,F,9.0,0.0,0.0,1.0,59.0,Sweden,12.0,-1.0,-2.0,Mexico,28.0,-1.0,-10.0,Germany,43.0,-1.0,0.0,NaN
24,Belgium,G,12.0,0.0,0.0,1.0,5.0,Panama,13.0,NaN,NaN,Tunisia,29.0,0.0,0.0,England,45.0,-17.0,-70.0,NaN
25,Panama,G,0.0,0.0,0.0,0.0,56.0,Belgium,13.0,NaN,NaN,England,30.0,NaN,NaN,Tunisia,46.0,NaN,NaN,NaN
26,Tunisia,G,4.0,0.0,0.0,0.0,27.0,England,14.0,-1.0,-2.0,Belgium,29.0,0.0,0.0,Panama,46.0,NaN,NaN,NaN
27,England,G,14.0,1.0,1.0,2.0,15.0,Tunisia,14.0,1.0,2.0,Panama,30.0,NaN,NaN,Belgium,45.0,17.0,70.0,NaN
28,Poland,H,7.0,0.0,0.0,2.0,7.0,Senegal,15.0,NaN,NaN,Columbia,31.0,NaN,NaN,Japan,47.0,2.0,3.0,NaN
29,Senegal,H,1.0,0.0,0.0,0.0,23.0,Poland,15.0,NaN,NaN,Japan,32.0,2.0,3.0,Columbia,48.0,0.0,0.0,NaN
30,Columbia,H,5.0,0.0,0.0,0.0,13.0,Japan,16.0,2.0,2.0,Poland,31.0,NaN,NaN,Senegal,48.0,0.0,0.0,NaN
31,Japan,H,5.0,0.0,0.0,0.0,55.0,Columbia,16.0,-2.0,-2.0,Senegal,32.0,-2.0,-3.0,Poland,47.0,-2.0,-3.0,NaN
32,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [87]:
t3.to_csv('tempry4.csv')

In [88]:
t3 = pd.read_csv('tempry4.csv')

In [89]:
Xp = t3[['neutral', 'home_rank','away_rank']]

In [90]:
Xp

   neutral  home_rank  away_rank
0        0         21         65
1        1         63         31
2        1         32          3
3        1          6         40
4        1         12          9
5        1         39         11
6        1         50          4
7        1         22         17

In [91]:
p1 = clf.predict_proba(Xp)

In [92]:
p1

array([[0.08807119, 0.25794355, 0.65398526],
       [0.50457791, 0.22780205, 0.26762004],
       [0.52223266, 0.31259649, 0.16517085],
       [0.15475364, 0.2106242 , 0.63462216],
       [0.36344012, 0.28584395, 0.35071593],
       [0.49488208, 0.25981591, 0.245302  ],
       [0.65133577, 0.26557573, 0.0830885 ],
       [0.39131588, 0.27940711, 0.32927701]])

In [93]:
clf.classes_

array([-1.,  0.,  1.])

In [94]:
p2 = reg.predict(Xp)

In [95]:
p2

array([ 1.28975606, -0.77837807, -0.89996799,  0.86846268, -0.25612063,
       -0.77670913, -1.31309515, -0.33777884])

In [96]:
t3.drop(['Unnamed: 0', 'neutral', 'home_rank', 'away_rank'], axis = 1,inplace = True)

In [97]:
p1.shape

(8, 3)

In [98]:
t3

,FixtureID,team1,team2,goalDiff,prob_team1,prob_team2,prob_draw
0,33,Uruguay,Russia,NaN,NaN,NaN,NaN
1,34,Saudi Arabia,Egypt,NaN,NaN,NaN,NaN
2,35,IR Iran,Portugal,NaN,NaN,NaN,NaN
3,36,Spain,Morocco,NaN,NaN,NaN,NaN
4,37,Denmark,France,NaN,NaN,NaN,NaN
5,38,Australia,Peru,NaN,NaN,NaN,NaN
6,39,Nigeria,Argentina,NaN,NaN,NaN,NaN
7,40,Iceland,Croatia,NaN,NaN,NaN,NaN

In [99]:
t3['prob_team2'] = p1[:,0]

t3['prob_draw'] = p1[:,1]

t3['prob_team1'] = p1[:,2]

In [100]:
t3

,FixtureID,team1,team2,goalDiff,prob_team1,prob_team2,prob_draw
0,33,Uruguay,Russia,NaN,0.653985,0.088071,0.257944
1,34,Saudi Arabia,Egypt,NaN,0.267620,0.504578,0.227802
2,35,IR Iran,Portugal,NaN,0.165171,0.522233,0.312596
3,36,Spain,Morocco,NaN,0.634622,0.154754,0.210624
4,37,Denmark,France,NaN,0.350716,0.363440,0.285844
5,38,Australia,Peru,NaN,0.245302,0.494882,0.259816
6,39,Nigeria,Argentina,NaN,0.083088,0.651336,0.265576
7,40,Iceland,Croatia,NaN,0.329277,0.391316,0.279407

In [101]:
p2.shape

(8,)

In [102]:
np.round(p2), p2

(array([ 1., -1., -1.,  1., -0., -1., -1., -0.]),
 array([ 1.28975606, -0.77837807, -0.89996799,  0.86846268, -0.25612063,
        -0.77670913, -1.31309515, -0.33777884]))

In [103]:
t3['goalDiff'] = np.round(p2)

In [104]:
t3

,FixtureID,team1,team2,goalDiff,prob_team1,prob_team2,prob_draw
0,33,Uruguay,Russia,1.0,0.653985,0.088071,0.257944
1,34,Saudi Arabia,Egypt,-1.0,0.267620,0.504578,0.227802
2,35,IR Iran,Portugal,-1.0,0.165171,0.522233,0.312596
3,36,Spain,Morocco,1.0,0.634622,0.154754,0.210624
4,37,Denmark,France,-0.0,0.350716,0.363440,0.285844
5,38,Australia,Peru,-1.0,0.245302,0.494882,0.259816
6,39,Nigeria,Argentina,-1.0,0.083088,0.651336,0.265576
7,40,Iceland,Croatia,-0.0,0.329277,0.391316,0.279407

In [154]:
t3.to_csv('mpiyakhe_dhlamini.csv')